.results-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.results-main {
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 100%;
}

body.dark {
  background-color: #121212;
  color: #e0e0e0;
}

body.dark .stat-card h3 {
  color: #e0e0e0;
}

body.dark .stat-card p {
  color: #b0b0b0;
}

.results-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}

.big-score-box {
  width: 80%;
  margin: 0 auto; 
  background-color: #e64756;
  padding: 5rem;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 1.5rem;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
}

.big-score-title {
  font-size: 2.4rem;
  font-weight: 700;
  margin: 0;
}

.score-display {
  background: white;
  color: #e64756;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  font-size: 4rem;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
}

body.dark .big-score-box {
  background-color: #b83240;
}

body.dark .score-display {
  background-color: #1d1d1d;
  color: #ff8694;
}

.stats-box {
  width: 80%;
  display: flex;
  justify-content: center;
}

.stats-section {
  background-color: #ffffff;
  border-radius: 18px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

body.dark .stats-section {
  background-color: #222;
  box-shadow: 0 6px 18px rgba(255, 255, 255, 0.05);
}

.stat-card {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.stat-card h3 {
  margin: 0;
  font-size: 1.6rem;
  font-weight: 700;
  color: #1d1d1d;
}

.stat-card p {
  margin: 0;
  font-size: 0.9rem;
  color: #666;
}

.dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
}

.green-dot {
  background-color: #2ecc71;
}

.red-dot {
  background-color: #e64756;
}

.yellow-dot {
  background-color: #f1c40f;
}

.results-actions {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1.4rem;
  flex-wrap: wrap;
}

.result-button {
  background-color: #e64756;
  color: white;
  border: none;
  padding: 1rem 2.2rem;
  font-size: 1.1rem;
  border-radius: 12px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.2s;
  width: 400px;
  text-align: center;
}

.result-button:hover {
  background-color: #c43b48;
}

body.dark .result-button {
  background-color: #c43b48;
;
}