.results-container {
  height: fit-content;
  width: 100vw;
  background-color: #f5f6fa;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6rem; /* espaço pra navbar */
  box-sizing: border-box;
}

body.dark .results-container {
  background-color: #121212;
}

.results-card {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  padding: 3rem 4rem;
  max-width: 500px;
  width: 90%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body.dark .results-card {
  background-color: #212121;
  color: #f5f6fa;
}

.results-title {
  font-size: 1.8rem;
  font-weight: 600;
  color: #333;
}

body.dark .results-title {
  color: #ffffff;
}

.results-score {
  font-size: 4rem;
  font-weight: 800;
  color: #e64756;
  margin: 1rem 0 2rem 0;
}

.results-summary,
.results-details {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-top: 1rem;
}

.results-summary h3,
.results-details h3 {
  font-size: 1.8rem;
  color: #1d2234;
}

body.dark .results-summary h3 {
  color: #ffffff;
}
body.dark .results-details h3{
  color: #ffffff;
}

.results-summary p,
.results-details p {
  color: #666;
  font-size: 0.95rem;
}

.results-actions {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 100%;
  margin-top: 2rem;
}

.action-button,
.restart-button {
  background-color: #e64756;
  color: white;
  border: none;
  padding: 0.9rem;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
}

.action-button:hover,
.restart-button:hover {
  transform: scale(1.05);
}

.restart-button {
  background-color: #1d2234;
}

body.dark .restart-button {
  background-color: #2a70c0;
}